@media (max-width: 991px) {
    .film .film-block{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 850px) {
    .collections .block{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 580px) {
    header .menu nav{
        flex-direction: column;
        padding-top: 10px;
    }
    
    header .menu nav ul a{
        padding: 15px 10px;
    }
    
    header .poster{
        padding: 10px 0px;
    }
    
    header .poster i{
        font-size: 25px;
    }
    
    header .poster p{
        font-size: 13px;
        margin-left: 10px;
    }
    
    header .text{
        padding: 50px 0px;
    }
    
    header .text h1{
        font-size: 40px;
    }
    
    header .text .btn{
        flex-direction: column;
        width: 100% !important;
        max-width: 580px;
    }
    
    header .text .btn a{
        width: 100%;
        margin-bottom: 10px;
    }
    
    
}

@media (max-width: 500px) {
    .film .film-block{
        grid-template-columns: 1fr;
    }
}